body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: rgb(225, 225, 225);
  background-size: cover;
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.container {
  width: 90%;
  max-width: 1100px;
  margin: 110px auto;
  display: flex;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  position: relative;
}

.title-welcome {
  color: #404040;
  margin-top: 10px;
  font-size: 30px;
  margin-bottom: 30px;
}

.img-icon {
  margin-right: 15px;
}

.left {
  width: 50%;
  position: relative;
  color: white;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 2;
  overflow: hidden;
}

.background-img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 75%;
  height: 75%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.overlay {
  position: absolute;
  inset: 0;
  background: white;
  border-radius: 20px 0 0 20px;
  z-index: 2;
}

.left-content {
  z-index: 2;
  color: white;
}

.left-content h1 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.left-content p {
  font-size: 1.1rem;
  margin-top: 10px;
  opacity: 0.8;
}

.right {
  width: 50%;
  padding: 40px;
  box-sizing: border-box;
  background-color: white;
  border-radius: 0 20px 20px 0;
}

.divider {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 20px 0;
  color: #888;
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #ccc;
}

.divider:not(:empty)::before {
  margin-right: 20px;
}

.divider:not(:empty)::after {
  margin-left: 20px;
}

.divider span {
  font-weight: 600;
  padding: 0 10px;
}

h2 {
  font-size: 2.5rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

.input-container {
  position: relative;
  margin: 12px 0;
  margin-top: -15px;
}

input {
  width: 100%;
  padding: 12px 15px;
  padding-left: 50px;
  padding-right: 40px;
  margin: 12px 0;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 15px;
  box-sizing: border-box;
  transition: all 0.3s ease;
  z-index: 10;
}

input:focus {
  border-color: #4a4a4a;
  outline: none;
}

.input-container input {
  width: 100%;
  padding: 12px 15px;
  padding-left: 45px;
  padding-right: 40px;
  border-radius: 10px;
  border: 1px solid #d9d9d9;
  font-size: 15px;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

.input-container i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  color: #9f9f9f;
  left: 12px;
  cursor: pointer;
}

.input-container i.fa-lock {
  left: 15px;
}

.input-container i#togglePassword {
  right: 15px;
}

.input-container input:focus {
  border-color: #797979;
  outline: none;
}

input[type="password"] {
  padding-right: 40px;
}

#togglePassword {
  right: 12px;
  left: unset;
}

button {
  width: 100%;
  padding: 12px;
  background: #393939;
  border: none;
  border-radius: 18px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  color: #ffffff;
  transition: all 0.3s ease;
  z-index: 10;
}

button:hover {
  color: #fff;
  transform: scale(1.05);
}

#productTable td {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

.forgot-password,
.signup-link {
  font-size: 14px;
  text-align: center;
  margin-top: 30px;
  color: #888;
}

.forgot-password a,
.signup-link a {
  text-decoration: none;
  color: #393939;
  font-weight: 600;
  transition: all 0.3s ease;
}

.forgot-password {
  margin-bottom: 20px;
  margin-top: -5px;
  text-align: right;
}

.forgot-password a:hover,
.signup-link a:hover {
  color: #797979;
}

.social-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.social-buttons button {
  background-color: transparent;
  border: 2px solid #b9b9b9b9;
  width: 48%;
  padding: 12px;
  font-size: 14px;
  color: #909090;
  border-radius: 18px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.google-btn,
.facebook-btn {
  width: 48%;
  padding: 12px;
  font-size: 14px;
  border: 2px solid #606060;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.google-btn {
  background: #4a4a4a;
}

.facebook-btn {
  background: #6b6b6b;
}

.google-btn:hover,
.facebook-btn:hover {
  background-color: transparent;
  color: #4a4a4a;
  transform: scale(1.05);
}

.google-btn i,
.facebook-btn i {
  margin-right: 10px;
  color: #9f9f9f;
}

.social-buttons button:hover {
  opacity: 0.8;
  transform: scale(1.05);
}

.social-buttons button i {
  margin-right: 10px;
}

.notif {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  width: 350px;
  background: white;
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 10px 35px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: all 0.5s ease;

  /* PERBAIKAN */
  pointer-events: none; /* Tidak menghalangi modal */
  visibility: hidden; /* Biar beneran tidak aktif */
  z-index: -1; /* Tidak menutupi apapun */
}

.notif.show {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);

  /* Saat muncul, aktifkan lagi */
  pointer-events: auto;
  visibility: visible;
  z-index: 9999;
}

@keyframes popDown {
  0% {
    opacity: 0;
    transform: translate(-50%, -60%) scale(0.9);
  }
  50% {
    opacity: 1;
    transform: translate(-50%, -48%) scale(1.05);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

.notif-icon {
  width: 60px;
  height: 60px;
  background: #ff4d4d;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 15px;
  color: white;
  font-size: 32px;
  font-weight: bold;
}

.notif-icon.success {
  background-color: #28a745 !important;
  font-size: 36px;
  color: white;
}

.notif-icon.error {
  background-color: #ff4d4d !important;
  font-size: 36px;
  color: white;
}

.notif-icon.warning {
  background-color: #ffc107 !important;
  font-size: 36px;
  color: white;
}

/* dashboard */

.sidebar {
  width: 80px;
  background-color: #f1f1f1;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  gap: 30px;
  align-items: center;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  transition: width 0.3s ease;
}

.sidebar i {
  font-size: 25px;
  color: #333333;
  cursor: pointer;
  transition: color 0.3s ease;
}

.footer {
  margin-top: 330px;
  padding: 20px 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.footer i {
  font-size: 24px;
  color: #333;
  cursor: pointer;
  transition: color 0.3s ease;
}

.footer i:hover {
  color: #9b9b9b;
}

.content {
  flex: 1;
  padding: 40px;
  color: #333;
  width: calc(100% - 80px);
  overflow-y: auto;
  margin-left: 80px;
}

.img-icon-sidebar {
  width: 25;
  height: 25px;
  cursor: pointer;
}

.img-icon-card {
  width: 40px;
  height: 40px;
}

.title-grafik {
  display: flex;
  font-size: 23px;
  align-items: start;
  justify-content: start;
  margin-left: 20px;
}

.title-dashboard {
  margin-bottom: 30px;
}

h1 {
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: 600;
  color: #333;
}

/* Cards */
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
  margin-bottom: 40px;
}

.card {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 12px;
  padding: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: all 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.card h3 {
  margin: 0;
  font-size: 16px;
  color: #444;
  font-weight: 500;
}

.value {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 22px;
  font-weight: 600;
  color: #222;
}

.card i {
  font-size: 30px;
  margin-bottom: 10px;
  color: #393939;
}

.btn {
  margin-top: -20px;
  display: inline-block;
  padding: 8px 15px;
  background: #393939;
  color: #fff;
  font-size: 14px;
  border-radius: 20px;
  text-decoration: none;
  font-weight: 500;
  border: 2px solid #393939;
  transition: 0.3s ease;
  margin-bottom: 10px;
}

.btn:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.charts-row {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  flex-wrap: wrap;
}

.chart-container {
  width: 45%;
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  flex-grow: 1;
  margin-bottom: 40px;
}

canvas {
  width: 100% !important;
  height: 250px !important;
}

.fas.fa-bars {
  display: none;
}

@media (max-width: 768px) {
  h1 {
    text-align: left;
    width: 100%;
    margin-left: 0;
    margin-top: 50px;
    margin-bottom: 30px;
  }

  .btn {
    margin-top: 20px;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-left: 0;
    width: 100%;
  }

  .sidebar {
    width: 0;
    display: none;
  }

  .sidebar.active {
    width: 70px;
    display: flex;
  }

  i {
    margin-left: 5px;
  }

  .mobile-bar {
    margin-top: 60px;
  }

  .footer {
    margin-top: 400px;
  }

  .fas.fa-bars {
    display: block;
    font-size: 25px;
    position: absolute;
    left: 20px;
    top: 20px;
    cursor: pointer;
  }

  .chart-container {
    width: 100%;
  }
}

@media (min-width: 769px) {
  .sidebar {
    width: 80px;
    transition: none;
  }

  .fas.fa-bars {
    display: none;
  }
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  padding: 12px;
  text-align: center;
  border: 1px solid #ddd;
}

table th {
  background-color: #f1f1f1;
  font-weight: 600;
}

/* Product */
.sidebar {
  width: 80px;
  background-color: #f1f1f1;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  gap: 30px;
  align-items: center;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  position: fixed;
}

.sidebar i {
  font-size: 24px;
  cursor: pointer;
  color: #333;
}

.footer {
  margin-top: 380px;
  padding: 20px 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.footer i {
  font-size: 24px;
  color: #333;
  cursor: pointer;
  transition: color 0.3s ease;
}

.footer i:hover {
  color: #9b9b9b;
}

.content {
  flex: 1;
  padding: 40px;
  margin-left: 80px;
  overflow-y: auto;
}

h1 {
  font-size: 28px;
  margin: 0;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.add-product {
  background-color: #393939;
  padding: 12px 15px;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease;
}

.add-product:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 10px;
}

thead tr {
  background: #eaeaea;
  color: #393939;
  font-weight: 600;
}

thead th {
  padding: 14px;
  border: none;
  font-size: 18px;
}

tbody tr {
  background: #ffffff;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.06);
  border-radius: 12px;
  transition: 0.25s ease;
}

tbody tr:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.12);
  background: #ededed;
}

tbody td {
  padding: 14px;
  border: none;
}

tbody tr td:first-child {
  border-radius: 12px 0 0 12px;
}

tbody tr td:last-child {
  border-radius: 0 12px 12px 0;
}

.edit,
.delete {
  padding: 8px 12px;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 6px;
  transition: 0.2s;
}

.edit {
  background: #424242;
  color: #f2f2f2;
}

.edit:hover {
  background: rgb(85, 85, 85);
}

.delete {
  background: #888888;
  color: #fff;
}

.delete:hover {
  background: rgb(85, 85, 85);
}

tbody td:nth-child(1),
thead th:nth-child(1) {
  text-align: center;
  width: 60px;
}

tbody td:nth-child(2),
thead th:nth-child(2) {
  text-align: left;
  padding-left: 20px;
}

tbody td:nth-child(3),
thead th:nth-child(3) {
  text-align: right;
  padding-right: 20px;
}

tbody td:nth-child(4),
thead th:nth-child(4) {
  text-align: center;
}

tbody td:nth-child(5),
thead th:nth-child(5) {
  text-align: center;
  width: 140px;
}

.modal {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 50;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-text {
  text-align: start;
  font-weight: 600;
}

.modal-content {
  width: 420px;
  padding: 30px;
  background-color: white;
  border-radius: 10px;
  position: relative;
  animation: dropIn 0.35s ease-out;
}

@keyframes dropIn {
  0% {
    transform: translateY(-40px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.modal-content h2 {
  font-size: 22px;
  margin-top: -10px;
  margin-bottom: 30px;
}

.close {
  position: absolute;
  top: 5px;
  right: 25px;
  font-size: 40px;
  cursor: pointer;
  color: #a3a3a3;
  transition: 0.3s ease;
}

.close:hover {
  color: #656565;
}

.modal-content input {
  width: 100%;
  padding: 12px;
  margin: 8px auto 18px;
  border-radius: 8px;
  border: 1px solid #ccc;
  display: block;
  margin-top: 5px;
  font-size: 14px;
}

.modal-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 25px;
}

.modal-buttons button {
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  transition: 0.3s ease;
  font-size: 14px;
}

.modal-buttons button:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.save-btn {
  background-color: #393939;
  color: white;
  width: 25%;
}

.th-title {
  font-size: 18px;
}

.cancel-btn {
  width: 20%;
  background-color: #9d9d9d;
  color: white;
}

.notif h3 {
  margin: 0;
  font-size: 20px;
  font-weight: 600;
}

.notif p {
  margin-top: 6px;
  color: #555;
}

.notif-actions {
  display: flex;
  justify-content: center;
  gap: 14px;
  margin-top: 10px;
}

.notif-actions button {
  padding: 6px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.yes-btn {
  background: #e74c3c;
  color: #fff;
}

.no-btn {
  background: #bdc3c7;
  color: #000;
}

@media (max-width: 768px) {
  .left {
    display: none;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 140px;
  }

  .left,
  .right {
    width: 100%;
  }

  .background-img {
    display: none;
  }

  .save-btn {
    background-color: #393939;
    color: white;
    width: 100px;
  }

  .cancel-btn {
    width: 80px;
    background-color: #9d9d9d;
    color: white;
  }

  .overlay {
    display: none;
  }

  .btn-data {
    margin-top: -5px;
  }

  body {
    background: rgb(225, 225, 225);
    background-size: cover;
    margin: 0;
  }

  .right {
    align-items: center;
    justify-content: center;
    padding: 40px 20px;
    position: relative;
    z-index: 10;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
  }

  .btn-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }

  .input-container input {
    font-size: 14px;
    position: relative;
    z-index: 20;
  }

  .input-container i {
    z-index: 30;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: #9f9f9f;
    left: 12px;
  }

  button {
    font-size: 14px;
    position: relative;
    z-index: 50;
  }

  .social-buttons button {
    font-size: 13px;
  }

  .signup-link,
  .forgot-password a {
    font-size: 14px;
    position: relative;
    z-index: 60;
  }

  h1 {
    text-align: left;
    width: 100%;
    margin-left: 0;
    margin-top: 50px;
    margin-bottom: 30px;
  }

  thead th {
    padding: 14px;
    border: none;
    font-size: 14px;
  }

  thead td {
    padding: 14px;
    border: none;
    font-size: 10px;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-left: 0;
    width: 100%;
  }

  .sidebar {
    width: 0;
    display: none;
  }

  .sidebar.active {
    width: 70px;
    display: flex;
  }

  i {
    margin-left: 5px;
  }

  .mobile-bar {
    margin-top: 60px;
  }

  .footer {
    margin-top: 400px;
  }

  .fas.fa-bars {
    display: block;
    font-size: 25px;
    position: absolute;
    left: 20px;
    top: 20px;
    cursor: pointer;
  }

  .chart-container {
    width: 100%;
  }

  .modal-content {
    width: 75%;
  }

  .notif {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.9);
    width: 270px;
    background: white;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 10px 35px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: all 0.5s ease;
    z-index: 9999;
    pointer-events: none;
  }

  .notif.show {
    animation: popDown 0.55s cubic-bezier(0.16, 1, 0.3, 1) forwards;
    pointer-events: auto;
  }
}

@media (min-width: 769px) {
  .sidebar {
    width: 80px;
    transition: none;
  }

  .fas.fa-bars {
    display: none;
  }
}
